@import url('../../styles/variaveis.css');

.container-pagina-perfil {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.container-centro-perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 70px 20px 30px;
    gap: 10px;
    width: 100%;
}

.perfil-cabecalho-responsivo {
    display: none;
}

.titulo-perfil {
    height: 10%;
    word-wrap: break-word;
}

.t-perfil {
    color: var(--primary-color);
    font-size: var(--font-size-titulo-desktop);
    font-weight: bold;
    font-family: var(--font-family-principal);
    margin-bottom: 20px;
}

.container-opcoes-perfil {
    background-color: var(--neutral-color-100);
    width: 100%;
    padding: 20px 30px;
    border-radius: 20px;
    height: calc(88vh - 180px);
    display: flex;
    flex-direction: column;
}

.container-foto-perfil {
    position: relative;
    width: 120px;
    height: 120px;
    margin: auto;
}

.imagem-perfil {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    cursor: pointer;
    border: 2px solid #ccc;
    position: relative;
}

.foto-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.overlay-icone {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    padding: 6px;
    font-size: 14px;
    z-index: 2;
    cursor: pointer;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.btn-editar-foto__icon {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.btn-editar-foto__icon:hover {
    color: var(--primary-color-btn-hover);
}

.container-informacoes-perfil {
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.container-borda-perfil {
    border-bottom: 1px solid #ccc;
}

.pA-perfil {
    font-weight: bolder;
    font-size: var(--font-size-paragrafo-desktop);
    margin-bottom: 0;
}

/* .container-editar-perfil input{
    border: none;
} */
.mensagem-erro-perfil {
    color: var(--error-color, red);
    margin-bottom: 0rem;
    font-size: 15px;
}

.container-editar-perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-inputs-senha {
    display: flex;
    flex-direction: row;
    flex-direction: column;
    width: 100%;
}

.container-inputs {
    display: flex;
    justify-content: space-between;

}

.container-inputs-label {
    display: flex;
    gap: 2vh;
}

.container-input-botoes {
    display: flex;
    gap: 2vh
}

.input-com-icone {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.input-com-icone input {
    padding-right: 2.5rem;
    width: 100%;
    border: none;
    outline: none;
}

.input-com-icone .olho {
    position: absolute;
    right: 0.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.bt-editar {
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-weight: var(--font-weight-titulo);
}

.bt-editar:hover {
    color: var(--primary-color-btn-hover);
}

@media (max-width: 768px) {
    .container-pagina-perfil {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
    }

    .container-pagina-perfil .navbar {
        display: none;
    }

    .container-centro-perfil {
        padding: 40px;
        align-items: center;
        justify-content: center;
    }

    .perfil-cabecalho {
        display: none;
    }

    .perfil-cabecalho-responsivo {
        display: flex;
        flex-direction: column;
    }

    .titulo-perfil {
        word-wrap: break-word;
        height: 6vh;
    }

    .container-opcoes-perfil {
        word-wrap: break-word;
        flex-direction: column;
        height: auto;
    }

    .container-editar-perfil {
        flex-direction: column;
    }

    .t-perfil {
        font-size: 4vh;
    }

    .container-foto-perfil {
        margin: 2vh auto;
    }

    .auto{
        margin-left: auto;
    }

    .container-inputs {
        flex-direction: column;
    }

    .container-inputs-label {
        flex-direction: column;
        gap: 5px;
    }

    .container-input-botoes{
        justify-content: space-between;
    }

}