@import '../../styles/variaveis.css';

.container-cabecalho-inicio {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    top: 0;
    padding: 0;
    width: 80vw;
    height: 12.5vh;
    align-items: center;
    justify-content: space-between;
    text-align: start;
}

.container-cabecalho-inicio p {
    font-family: var(--font-family-principal);
    color: #000000;
    font-size: var(--font-size-paragrafo-desktop);
}

.container-cumprimentos-inicio {
    display: flex;
    width: max-content;
}

.container-cumprimentos-inicio .texto-cumprimentos-inicio {
    font-size: 40px;
    font-weight: 200;
}

.container-agendamentos-inicio .texto-agendamentos-inicio {
    font-size: 25px;
    font-weight: 300;
    color: var(--primary-color);
    text-align: end;
}

.container-agendamentos-inicio .texto-agendamentos-inicio span {
    font-weight: bold;
}