@import '../../styles/variaveis.css';

.container-menu {
    background-color: var(--neutral-color-100);
    border-radius: 20px;
    box-shadow: 0px 10px 16px -6px rgba(0, 0, 0, 0.2);
    width: 221px;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 20px 5px;
    font-family: var(--font-family-principal);
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.menu-items,
.menu-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-btn {
    background: none;
    border: none;
    text-align: left;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-btn:hover {
    background-color: var(--secondary-color);
}

.menu-btn.active {
    background-color: var(--secondary-color);
}

.icon {
    font-size: 24px;
}

.menu-hamburguer {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1100;
    font-size: 24px;
    cursor: pointer;
}

/* responsivo */
@media (max-width: 768px) {
    .container-menu {
        transform: translateX(-100%);
    }

    .container-menu.open {
        transform: translateX(0);
    }

    .menu-hamburguer {
        display: block;
    }

    .container-menu {
        height: 70vh;
        width: 100%;
        max-width: 400px;
    }
}
