@import url('../../styles/variaveis.css');

.agendamento-container {
    font-family: var(--font-family-principal);
    background-color: var(--background-color-tela);
    min-height: 100vh;
    padding: 40px;
}

.perfil {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #ccc;
    margin-right: 10px;
}

.info p {
    margin: 0;
    font-size: 14px;
    color: var(--neutral-color-900);
}

h1 {
    font-size: 40px;
    color: var(--primary-color);
    font-weight: var(--font-weight-titulo);
    margin-bottom: 30px;
}

.agendamento-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.agendamento-form input,
.agendamento-form select {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: var(--neutral-color-100);
    font-size: 16px;
    width: 100%; /* Garante que todos os campos ocupem toda a largura disponível */
}

.input-icon {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%; /* Garante que o container também ocupe 100% */
}

.input-icon svg {
    color: var(--primary-color);
    font-size: 18px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

button.cancelar {
    padding: 12px 30px;
    background-color: transparent;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

button.salvar {
    padding: 12px 30px;
    background-color: var(--primary-color);
    border: none;
    color: var(--neutral-color-100);
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

button.cancelar:hover {
    background-color: var(--primary-color-btn-hover);
    color: white;
}

button.salvar:hover {
    background-color: var(--primary-color-btn-hover);
}
