@import '../../styles/variaveis.css';

.container-visualizar-agendamentos {
  display: flex;
  flex-direction: row;
  max-width: 100vw !important;
  max-height: 100vh !important;
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.visualizar-agendamentos-componente-cards {
  max-height: 70vh;
  height: 70vh;
  overflow: auto;
}

.container-conteudo-visualizar-agendamentos {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px 70px 30px 30px;
  gap: 10px;
  width: 100%;
}

.visualizar-agendamentos-cabecalho-responsivo {
  display: none;
}

.agendamentos-componente-cards__hoje,
.agendamentos-componente-cards__proximos {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
  scroll-behavior: smooth;
  padding-right: 10px;
}

.agendamentos-componente-cards__hoje::-webkit-scrollbar,
.agendamentos-componente-cards__proximos::-webkit-scrollbar {
  width: 8px;
}

.agendamentos-componente-cards__hoje::-webkit-scrollbar-thumb,
.agendamentos-componente-cards__proximos::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.agendamentos-componente-cards__hoje::-webkit-scrollbar-track,
.agendamentos-componente-cards__proximos::-webkit-scrollbar-track {
  background: transparent;
}

.componente-cards__proximos-data {
  font-size: 1.7rem;
}

.btn-ver-mais {
  display: block;
  align-items: center;
  justify-content: center;
  width: 15rem;
  background-color: transparent;
  color: var(--primary-color);
  font-size: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 30px;
  cursor: pointer;
}

.btn-ver-mais:hover {
  background-color: var(--primary-color);
  color: var(--neutral-color-100);
}

/* Responsivo */
@media (max-width: 768px) {
  .visualizar-agendamentos-cabecalho {
    display: none;
  }

  .container-visualizar-agendamentos .navbar {
    display: none;
  }

  .visualizar-agendamentos-cabecalho-responsivo {
    display: flex;
    flex-direction: column;
  }

  .container-visualizar-agendamentos {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  .container-conteudo-visualizar-agendamentos {
    padding: 40px;
    align-items: center;
    justify-content: center;
  }
}