@import '../../styles/variaveis.css';

.container {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%; 
    height: 100%; 
    margin: 0;
    padding: 0;
    text-align: center;
}

.container-conteudo-nova-senha{
    position: relative;
    margin: 4% 0 0 0;
    z-index: 2;
}

.container .titulo-principal {
    font-family: var(--font-family-principal);
    font-size: var(--font-size-titulo-desktop);
    font-weight: var(--font-weight-titulo);
    color: var(--primary-color);
}

.container .texto-explicativo {
    font-family: var(--font-family-principal);
    font-size: var(--font-size-paragrafo-desktop);
    font-weight: var(--font-weight-paragrafo);
    color: var(--neutral-color-900);
    line-height: 30px;
}

.campo-incluir-nova-senha {
    display: flex;
    justify-content: center;
}

.campo-incluir-nova-senha.input-container {
    display: flex;
    flex-direction: column;
    margin: 2.5rem 0 2rem 0;
    
}

.campo-incluir-nova-senha .input-container label {
    position: RELATIVE;
    margin: 20px;
    font-family: var(--font-family-principal);
    font-size: 0.8rem;
    color: var(--neutral-color-900);
    pointer-events: none;
    padding: 0 10px;
    
}

.campo-incluir-nova-senha .input-container input {
    width: 354px;
    height: 50px;
        margin-bottom: 20px;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 0 20px;
    
}

.campo-incluir-nova-senha .input-container input:focus {
    outline: none;
    top: -0.5rem;
    left: 0.4rem;
    font-size: 1.2rem;
    border-color: var(--primary-color);
    color: var(--primary-color); 
    
}

.campo-incluir-nova-senha .input-container label {
    display: none; 
}

.container form .btn-confirmar {
    background-color: var(--primary-color);
    color: var(--neutral-color-100);
    font-size: 18px;
    font-weight: 500;
    width: 356.25px;  
    height: 52.5px;  
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
}

.container form .btn-confirmar{
    background-color: var(--primary-color);    
}

.container form .btn-confirmar {
    background-color: var(--primary-color);
    color: var(--neutral-color-100);
    font-size: 18px;
    font-weight: 500;
    width: 356.25px;  
    height: 52.5px;  
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}

.container form .btn-confirmar:hover {
    background-color: var(--primary-color-btn-hover);
}

.container form .btn-login {
    background-color: transparent;
    color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    width: 356.25px;
    height: 52.5px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 120px; 
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}


.container form .btn-login:hover {
    background-color: var(--primary-color);
    color: var(--neutral-color-100);
}


.container .imagem-principal {
    position: absolute;       
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    z-index: 1; 
}

.mensagem-erro {
    font-family: var(--font-family-principal);
    font-size: 12px;
    color: #D10000;
    margin-top: 8px;
    margin-bottom: 16px;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #ffe8e293; 
    backdrop-filter: blur(1px);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-principal);
}

.popup-box {
    background-color: #fff;
    border-radius: 40px;
    padding: 1rem 2rem;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    text-align: left;
    max-width: 300px;
    width: 90%;
}

.popup-box h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #0f0f0f;
}

.popup-box p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.btn-popup {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 30px;
    padding: 0.8rem 2rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    width: 100%;
    
}

.btn-popup:hover {
    background-color: var(--primary-color);
}


.input-container input.erro {
    border: 3px solid #D10000 !important;
}


/*Responsividade*/

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .container-conteudo {
        margin: 0;
    }

    .container .titulo-principal {
        font-size: 1.5rem;
    }

    .container .texto-explicativo {
        font-size: 0.9rem;
        line-height: 1.2;
    }

    .campo-incluir-nova-senha .input-container input {
        width: 90%;
        max-width: 354px;
        height: 45px;
        font-size: 0.9rem;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .container form .btn-confirmar,
    .container form .btn-login {
        width: 90%;
        max-width: 200px;
        height: 48px;
        font-size: 1rem;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .container .imagem-principal {
        width: 90%;
        bottom: 0;
        max-width: 100%;
    }

    .popup-box {
        width: 90%;
        max-width: 300px; 
        margin: 0 auto; 
        padding: 20px;
        border-radius: 40px;
    }

    .popup-box h3 {
        font-size: 1.1rem;
    }

    .popup-box p {
        font-size: 0.9rem;
    }

    .btn-popup {
        padding: 0.6rem 1.5rem;
    }
}
