@import '../../styles/variaveis.css';

.container-pagina-configuracoes {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.container-centro-configuracoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 70px 20px 30px;
    gap: 20px;
    width: 100%;
    justify-content: center;
}


.titulo-configuracoes {
    height: 10%;
    /* padding-left: 20px; */
    word-wrap: break-word;
}

.t-configuracoes {
    color: var(--primary-color);
    font-size: var(--font-size-titulo-desktop);
    font-weight: bold;
    font-family: var(--font-family-principal);
    margin-bottom: 20px;
}

.container-opcoes-configuracoes {
    background-color: var(--neutral-color-100);
    width: 100%;
    padding: 20px 30px;
    border-radius: 20px;
    height: calc(88vh - 180px);
    display: flex;
    flex-direction: column;
}

.container-acessibilidade-configuracoes {
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.container-borda-configuracoes {
    border-bottom: 1px solid #ccc;
}

.container-habilitar-configuracoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pA-configuracoes {
    font-weight: bolder;
    font-size: var(--font-size-paragrafo-desktop);
}

.bt-habilitar {
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-weight: var(--font-weight-titulo);
}

.bt-habilitar:hover {
    color: var(--primary-color-btn-hover);
}

.container-excluir-configuracoes {
    margin-top: auto;
}

.bt-excluir {
    background-color: transparent;
    border: none;
    color: red;
    font-weight: var(--font-weight-titulo);
}

.configuracao-cabecalho-responsivo {
    display: none;
}

@media (max-width: 768px) {
    .configuracao-cabecalho {
        display: none;
    }


    .container-centro-configuracoes {
        padding: 40px;
        align-items: center;
        justify-content: center;
    }

    .container-pagina-configuracoes .navbar {
        display: none;
    }

    .configuracao-cabecalho-responsivo {
        display: flex;
        flex-direction: column;
    }

    .container-pagina-configuracoes {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        width: 100vw;
    }

    .container-opcoes-configuracoes {
        /* width: 90%; */
        word-wrap: break-word;
        flex-direction: column;
        /* height: auto; */
    }

    .container-habilitar-configuracoes {
        flex-direction: column;
    }

    .titulo-configuracoes {
        word-wrap: break-word;
        /* width: 100%; */
        height: 6vh;
    }

    .bt-habilitar {
        display: flex;
    }

    .bt-excluir {
        display: flex;
    }

    .t-configuracoes {
        font-size: 4vh;
    }
}