@import url('../../styles/variaveis.css');

.container-pagina-analise-resultados {
    display: flex;
    flex-direction: row;
    max-width: 100vw !important;
    max-height: 100vh !important;
    width: 100%;
    height: 100%;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.analise-resultados-cabecalho-responsivo {
    display: none;
}

.analise-resultados__titulo {
    color: var(--primary-color);
    font-family: var(--font-family-principal);
    font-weight: bolder;
    margin-bottom: 20px;
}

/* RESPONSIVIDADE - PAGINA ANALISE DE RESULTADOS */
@media (max-width: 768px) {
    .container-pagina-analise-resultados .navbar {
        display: none;
    }

    .analise-resultados-cabecalho {
        display: none;
    }

    .analise-resultados-cabecalho-responsivo {
        display: flex;
        flex-direction: column;
    }
}