/* === CARD AGENDAMENTO === */
.card-agendamento,
.card-agendamento-concluido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;
  margin-bottom: 2rem
}

.data {
  font-size: 1rem;
  font-weight: bold;
  color: #666;
}

.hora {
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color);
  min-width: 80px;
}

.info-agendamento {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  color: #666;
  margin-bottom: 0.25rem;
  gap: 5px;
}

.icon-location,
.icon-time {
  font-size: 25px;
}

.conteudo-agendamento {
  flex: 1;
  margin-left: 1rem;
  font-size: 1.1rem;
}

.link-icon,
.periodo {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  top: 1rem;
}

.link-sessao{
  text-decoration: none;
  color: #666;
}

.nome {
  font-size: 1.5rem;
  color: #222;
  margin: 0;
  position: relative;
  display: flex;
  margin-left: 12rem;
  bottom: 2rem;
}

.link-atendimento {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 0.95rem;
}

.dropdown-container {
  position: relative;
  margin-left: 1rem;
}

.btn-opcoes {
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.4rem 0.75rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

/* === TABS FILTRO === */
.tabs-filtro {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.tabs-filtro button {
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
  white-space: nowrap; /* Impede que o texto quebre em várias linhas */
}

.tabs-filtro button:hover {
  background-color: var(--primary-color);
  color: white;
}

.tabs-filtro .ativo {
  background-color: var(--primary-color);
  color: white;
  border: none;
}

/* === OPÇÕES DROPDOWN === */
.dropdown {
  position: absolute;
  top: 110%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 200px;
}

/* .dropdown button  tudo que estava herdando automaticamente modifiquei pra classe pois dava conflito*/
.buttonDropdown {
  display: block;
  width: 100%;
  padding: 0.75rem 1rem;
  text-align: left;
  background-color: white;
  border: none;
  border-bottom: 1px solid #eee;
  font-size: 0.95rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.buttonDropdown:last-child {
  border-bottom: none;
}

.buttonDropdown:hover {
  background-color: var(--primary-color);
  transition: 0.4s;
  color: white;
}

/* RESPONSIVIDADE */
@media (max-width: 600px) {
  .card-agendamento {
    flex-direction: column;
    align-items: flex-start;
  }

  .hora {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .dropdown-container {
    align-self: flex-end;
    margin-top: 0.5rem;
  }

    .tabs-filtro {
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 1rem;
    gap: 0.75rem;
  }

  .tabs-filtro button {
    width: 100%;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    text-align: center;
  }
}


