@import '../../styles/variaveis.css';

.container-pagina-inicial {
    display: flex;
    flex-direction: row;
    max-width: 100vw !important;
    max-height: 100vh !important;
    width: 100%; 
    height: 100%;  
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.container-conteudo-pagina-inicial {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 30px 0;
    gap: 10px;
}


.pagina-inicial-cabecalho-responsivo {
    display: none;
}

.container-botoes-calendario {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.container-botoes-calendario .card-calendario-inicio {
    display: flex;
    align-items: center;
}

.cards-botoes-funcionalidades {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    grid-gap: 20px;
}

.cards-botoes-funcionalidades .card-inicio-funcionalidade, .card-calendario-responsivo {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 245px;
    gap: 20px;
    border: none;
    border-radius: 20px;
}

.cards-botoes-funcionalidades .card-inicio-funcionalidade img, .card-calendario-responsivo img {
    height: 150px;
}

.btn-pacientes, 
.btn-anotacoes, 
.btn-agendamentos, 
.btn-analise-resultados, 
.btn-pagamentos, 
.btn-abrir-calendario-responsivo {
    display: block;
    justify-self: center !important;
    background-color: var(--primary-color);
    color: var(--neutral-color-100);
    font-family: var(--font-family-principal);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    width: 220px;  
    height: 35.09px; 
    padding: 5px; 
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-pacientes:hover, 
.btn-anotacoes:hover, 
.btn-agendamentos:hover, 
.btn-analise-resultados:hover, 
.btn-pagamentos:hover {
    background-color: var(--primary-color-btn-hover);    
}

.card-calendario-responsivo {
    display: none;
}

/* Responsivo - Pagina Inicial */
@media (max-width: 768px) {
    .pagina-inicial-cabecalho {
        display: none;
    }

    .container-pagina-inicial .navbar {
        display: none;
    }

    .pagina-inicial-cabecalho-responsivo {
        display: flex;
        flex-direction: column;
    }

    .container-pagina-inicial {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }

    .container-conteudo-pagina-inicial {
        padding: 40px;
        align-items: center;
        justify-content: center;
    }

    .container-botoes-calendario {
        flex-direction: column;
    }

    .cards-botoes-funcionalidades {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .container-cumprimentos-inicio-responsivo {
        display: flex;
        width: max-content;
        padding: 1.5rem 2rem;
    }
    
    .container-cumprimentos-inicio-responsivo .texto-cumprimentos-inicio-responsivo {
        font-size: 2rem;
        font-weight: 200;
    }    

    /* .cards-botoes-funcionalidades .card-inicio-funcionalidade, .card-calendario-responsivo {
        flex-direction: row;
        width: 80vw;
        height: 30vw;
    }

    .btn-pacientes, .btn-anotacoes, .btn-agendamentos, .btn-pagamentos, .btn-abrir-calendario-responsivo {
        height: max-content;
    } */
}


