@import '../../styles/variaveis.css';

.container-pagina-inicial {
    max-width: 100vw;
    max-height: 100vh;
    width: 100%; 
    height: 100%;  
    top: 0;
    margin: 0;
    padding: 0;
}

.container-conteudo-pagina-inicial {
    display: flex;
    flex-direction: row;
}

.container-conteudo-pagina-inicial .navbar {
    display: flex;
}

.container-conteudo-cards-pagina-inicial {
    height: 80vh;
    gap: 0;
}

.container-conteudo-cards-pagina-inicial .cards-indicadores {
    margin: 0;
}

.container-botoes-calendario {
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 70vh;
    padding: 10px;
    align-items: end;
}

.cards-botoes-funcionalidades {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    grid-gap: 20px;
}

.cards-botoes-funcionalidades .card {
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 245px;
    gap: 20px;
    border: none;
    border-radius: 20px;
}

.cards-botoes-funcionalidades .card img {
    height: 150px;
}

.btn-pacientes, .btn-anotacoes, .btn-agendamentos, .btn-pagamentos {
    background-color: var(--primary-color);
    color: var(--neutral-color-100);
    font-family: var(--font-family-principal);
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    width: 220px;  
    height: 35.09px;  
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-pacientes:hover, .btn-anotacoes:hover, .btn-agendamentos:hover, .btn-pagamentos:hover {
    background-color: var(--primary-color-btn-hover);    
}

.container-botoes-calendario .card-calendario {
    display: flex;
    align-items: center;
    height: 70vh;
}
