@import '../../styles/variaveis.css';

.container-pacientes-detalhes {
    display: flex;
    flex-direction: row;
    /* max-width: 100vw !important;
    max-height: 100vh !important; */
    /* width: 100%;
    height: 100%; */
    top: 0;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    height: 100vh;
    width: 100%;
}

.container-conteudo-pacientes-detalhes {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 20px 70px 20px 30px;
    gap: 20px;
}

.cards-paciente-pagamentos {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    gap: 13px
}


/* CARD : INFORMAÇÕES DO PACIENTE */

.card-paciente {
    background-color: var(--neutral-color-100);
    width: 70%;
    padding: 20px 30px;
    border-radius: 13px;
}

.card-paciente .card-paciente__cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 20px;
    width: 100%;
}

.card-paciente .nome-paciente {
    font-size: 32px;
    font-weight: 600;
}

.card-paciente .card-paciente__cabecalho .icon-edicao {
    font-size: 30px;
    color: var(--primary-color);
}

.container-btn-direcionar-whatsapp {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.btn-direcionar-whatsapp .icon-whatsapp-telefone {
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
}

.card-paciente .card-paciente__cabecalho .icon-exclusao {
    font-size: 25px;
    color: rgb(243, 45, 45);
}

.card-paciente .btn-editar-paciente {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.card-paciente .btn-excluir-paciente {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-paciente .card-paciente__infos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
}

.paciente-atributo {
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 0 !important;
}

.paciente-atributo span {
    font-weight: normal;
}

/* CARD : BOTÃO ADICIONAR NOVO REGISTRO */
.card-adicionar-registro {
    width: 30%;
}

/* CARD : CHECK-LIST DE PAGAMENTOS*/

.card-pagamentos {
    background-color: var(--neutral-color-100);
    width: 30%;
    padding: 20px 30px;
    border-radius: 20px;
    text-align: start;
}

.card-pagamentos h3 {
    margin-bottom: 2rem;
}

.checklist {
    max-height: 80%;
    overflow-y: auto;
    padding-right: 8px;
}

/* CARD EDITAR INFORMAÇÕES */

.modal-formulario-pacientes {
    font-family: var(--font-family-principal);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group-pacientes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    z-index: 20;
}

.form-group-pacientes input,
.form-group-pacientes select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-family: var(--font-family-principal);
    font-size: 1em;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 calc(50% - 10px);
    min-width: 200px;
}

.cabecalho-modal-edicao {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    gap: 16px;
}

.titulo-editar {
    font-size: 32px;
    font-weight: 600;
    margin: 0;
}

.popup-buttons {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    font-family: var(--font-family-principal);
}

.popup-buttons button {
    flex: 1;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.popup-buttons .btn-sim {
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.5s;
}

.popup-buttons .btn-sim:hover {
    background-color: var(--primary-color-btn-hover);
}

.popup-buttons .btn-nao {
    background-color: rgb(212, 208, 208);
    color: var(--primary-color);
    transition: 0.5s;
}

.popup-buttons .btn-nao:hover {
    background-color: rgb(161, 161, 161);
}

.btn-editar-cancelar {
    background-color: rgb(243, 45, 45) !important;
    color: #fff;
}

.btn-editar-cancelar:hover {
    background-color: rgb(128, 10, 10) !important;
}

/* BOTÕES HISTORICO DE SAUDE E ABORDAGEM */

.card-paciente .card-paciente__botoes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
    width: 100%;
    margin-top: 3rem;
    justify-content: space-between;
}

.btn-historico-saude,
.btn-plano-tratamento {
    background-color: var(--primary-color);
    color: #fff;
    transition: 0.5s;
    border-radius: 20px;
    border: none;
    padding: 10px;
    width: 12rem;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0.5rem
}

.btn-historico-saude:hover,
.btn-plano-tratamento:hover {
    background-color: var(--primary-color-btn-hover);
}

.title-abordagem,
.title-saude {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao-abordagem,
.descricao-saude {
    border-radius: 8px;
    padding: 0.5rem;
    position: relative;
    resize: vertical;
    min-height: 100px;
    font-size: 1rem;
    line-height: 1.5;
}

.detalhes-cabecalho-responsivo {
    display: none;
}

/* RESPONSIVIDADE */
.container-detalhes {
    /* height: 80%; */
    width: 100%;
    overflow: auto;
    padding: 10px;
    /* background-color: seagreen; */
    height: calc(100vh - 180px);
    border-radius: 20px;
}


@media screen and (max-width: 480px) {
    .container-pacientes-detalhes {
        flex-direction: column;
        padding: 16px;
    }

    .container-conteudo-pacientes-detalhes {
        width: 100%;
        align-items: center;
        padding: 0;
    }

    .detalhes-cabecalho-responsivo {
        display: flex;
        flex-direction: column;
    }

    .card-paciente {
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .card-paciente .card-paciente__cabecalho {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .card-paciente .nome-paciente {
        font-size: 18px;
    }

    .card-paciente .icon-edicao {
        font-size: 20px;
        position: absolute;
        right: 0;
        top: 0;
    }

    .card-paciente .card-paciente__infos {
        display: flex;
        flex-direction: column;
        gap: 6px;
        margin-top: 1rem;
    }

    .card-paciente__botoes {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .card-paciente__botoes button {
        width: 100%;
    }

    .card-pagamentos {
        width: 100%;
        margin-top: 20px;
    }
}

@media screen and (max-width: 768px) {
    .container-pacientes-detalhes .navbar {
        display: none;
    }

    .container-pacientes-detalhes {
        flex-direction: column;
        padding: 20px;
    }

    .detalhes-cabecalho {
        display: none;
    }

    .container-conteudo-pacientes-detalhes {
        width: 100%;
        padding: 0;
        align-items: center;
    }

    .card-paciente {
        width: 100%;
    }

    .card-paciente__botoes {
        flex-direction: row;
        justify-content: space-around;
    }

    .card-paciente__botoes button {
        width: 100%;
        font-size: 13px;
    }

    .card-pagamentos {
        width: 100%;
        margin-top: 20px;
    }

    .cards-paciente-pagamentos {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .card-adicionar-registro {
        width: auto;
    }   

    .card-paciente .card-paciente__botoes{
        margin-top: 1rem;
    }
}


/* @media screen and (min-width: 769px) and (max-width: 1024px) {
    .container-pacientes-detalhes {
      flex-direction: column;
      padding: 30px;
    }
  
    .container-conteudo-pacientes-detalhes {
      width: 100%;
    }
  

  
    .card-paciente,
    .card-pagamentos {
      width: 90%;
    }
  
    .card-paciente__botoes {
      justify-content: space-between;
    }
  } 
  

  @media screen and (min-width: 1025px) {
    .container-pacientes-detalhes {
      flex-direction: row;
      padding: 30px;
    }
  
    .container-conteudo-pacientes-detalhes {
      width: 80%;
      padding: 30px 0;
    }
  
    .cards-paciente-pagamentos {
      flex-direction: row;
      gap: 40px;
    }
  
    .card-paciente {
      width: 60%;
    }
  
    .card-pagamentos {
      width: 30%;
    }
  } 
    */