@import '../../styles/variaveis.css';

.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 2fr) 1fr;
    width: 100%;
    background-color: var(--neutral-color-100);
    border-radius: 20px;
    box-shadow: 0px 10px 16px -6px rgba(0, 0, 0, 0.2);
}

.container-cards p {
    font-family: var(--font-family-principal);
    color: #000000;
    font-size: var(--font-size-paragrafo-desktop);
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 3px;
}

.linha-separacao {
    border-left: 1px solid rgb(209, 206, 206);
    border-right: 1px solid rgb(209, 206, 206);
}

.card .numeroIndicador {
    font-size: 30px;
    font-weight: bold;
}

.card .icon-seta {
    font-size: 48px;
    color: var(--primary-color);
}