@import '../../styles/variaveis.css';

.container-cards-indicadores {
    display: flex;
    width: 100%;
    height: 12vh;
    padding: 0 20px;
    background-color: var(--neutral-color-100);
    border: solid 2px rgba(0, 0, 0, 0.104);
    border-radius: 20px;
    box-shadow: 0px 10px 16px -6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
}

.card-indicadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 20px;
    border: none !important;
    flex: 1;
}

.seta-card {
    cursor: pointer;
}

.card-indicadores .numeroIndicador {
    font-size: 30px;
    font-weight: bold;
}

.card-indicadores .texto-descritivo {
    font-family: var(--font-family-principal);
    color: #000000;
    font-size: var(--font-size-paragrafo-desktop);
    margin-bottom: 0 !important;
}

.card-indicadores .icon-seta {
    font-size: 48px;
    color: var(--primary-color);
}

.seta-card {
    cursor: pointer;
    flex: 0 0 50px;
}

.card-indicadores .icon-seta {
    font-size: 48px;
    color: var(--primary-color);
}

/* Responsivo */
@media (max-width: 768px) {
    .container-cards-indicadores {
        height: 8vh;
        justify-content: space-between;
        padding: 0 10px;
    }

    .card-indicadores {
        flex: none;
        width: 40vw;
    }

    .seta-card {
        flex: 0 0 20px;
    }

    .card-indicadores .icon-seta {
        font-size: 36px;
    }

    .card-indicadores .texto-descritivo{
        font-size: 1.5vh;
    }
}

