/*.link-sessao-container {
    width: 100%;
    margin-bottom: 15px;
}

.link-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.link-input {
    padding: 15px;
    padding-right: 100px;
    border: none;
    border-radius: 10px;
    background-color: var(--neutral-color-100);
    font-size: 16px;
    width: 100%;
}

.test-link {
    position: absolute;
    right: 10px;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.test-link:hover {
    background-color: var(--primary-color-btn-hover);
}
*/