.pacientes-actions-bar {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 1rem 1rem;
    padding: 0.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn {
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    
    padding: 0.6rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-btn:hover {
    background: #ffd5d0;
}