@import '../../styles/variaveis.css';

.container-menu-responsivo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 12vh;
    margin: 0rem 2.5rem;
}

.container-logo-menu-responsivo {
    display: flex;
    font-family: var(--font-family-logo);
    color: var(--primary-color);
    font-size: var(--font-size-logo-desktop);
    font-weight: var(--font-weight-logo);
}
  
.menu-responsivo-hamburguer {
    display: flex;
    align-items: start;
    justify-content: start;
}

.menu-responsivo-hamburguer .menu-responsivo-hamburguer__icon {
    font-size: 30px;
    color: var(--primary-color);
    cursor: pointer;
}

.container-menu-responsivo-aberto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.container-menu-responsivo-items {
    width: 221px;
    height: calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding: 20px 5px;
    font-family: var(--font-family-principal);
    top: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 1000;
}

.menu-responsivo-items,
.menu-responsivo-footer {
    display: flex;
    flex-direction: column;
    gap: 10px; 
}

.menu-btn-responsivo, .menu-btn-responsivo-sair {
    background: none;
    border: none;
    text-align: left;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-btn-responsivo-sair {
    color: rgb(243, 45, 45);
}

.menu-btn-responsivo:hover, .menu-btn-responsivo-sair:hover {
    background-color: var(--secondary-color);
}

.menu-btn-responsivo.active, .menu-btn-responsivo-sair.active {
    background-color: var(--secondary-color);
}

.icon-menu-responsivo, .icon-menu-responsivo-sair {
    font-size: 24px;
}

  