@import '../../styles/variaveis.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: var(--font-family-principal); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: var(--font-family-principal); 
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6d1d1;
  position: relative;
  overflow: hidden;
}

.first-content{
    flex-direction: row-reverse;
   left: 450px;
}
.first-content,
.second-content {
  width: 100%;
  max-width: 900px; 
  height: 615px;
  background-color: #FFF6F8;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.6s ease-in-out;
  position: relative;
  align-items: center;
}

.second-content {
    right: 450px;
  transform: translateX(150%);
  z-index: 1;
}

.container.mostrar-cadastro .second-content {
  transform: translateX(0%);
  z-index: 2;
}

.container.mostrar-cadastro .first-content {
  transform: translateX(150%);
  z-index: 1;
}

.first-column{
    background-color: #FFD1C4;
    width: 100%;
    height: 100%;
}

.second-colum{
    width: 300em;
}

.second-colum > .form-cadastro{
    width: 300em;
    bottom: 65px;
    position: relative;
}
.first-column,
.second-colum {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.titulo {
  font-size: 2rem;
  color: #004aad;
  font-weight: var(--font-weight-titulo);
}

.titulo-logo {
  font-family: var(--font-family-logo);
  font-weight: var(--font-weight-logo);
  font-size: 2.5rem;
  color: #004aad;
}

.subtitulo h4{
  font-size: 0.95rem;
  margin-top: 10px;
  color: #555;
  line-height: 1.4;
  font-weight: var(--font-weight-paragrafo);
  
}

.btn, .btn-criar {
  margin-top: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

#btn-login,
#btn-cadastro {
  background-color: white;
  color: #004aad;
  border: 2px solid #004aad;
  width: 250px;
  position: relative;
  align-self: center;
}

#btn-login:hover,
#btn-cadastro:hover {
  background-color: #004aad;
  color: white;
}

#btn-criar-conta, 
#btn-entrar {
  background-color: #004aad;
  color: white;
  width: 250px;
  position: relative;
  align-self: center;
}

#btn-criar-conta:hover, 
#btn-entrar:hover {
  background-color: #00307a;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  gap: 15px;
}

input {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 80%;
}

.icon {
  position: absolute;
  margin: 10px;
  color: #004aad;
}

input::placeholder {
  padding-left: 25px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  align-self: center;
}

.mensagem-erro {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.recuperar-senha a {
  margin-top: 10px;
  font-size: 0.85rem;
  color: #004aad;
  text-decoration: none;
}

.recuperar-senha a:hover {
  text-decoration: underline;
}
